<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Food App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/login.css">
    <!-- Include other necessary styles or scripts -->
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <% if (locals.message) { %>
            <div class="message-label">
                <%= message %>
            </div>
        <% } %>
        <form action="/admin/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
