<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Food Menu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
<body>
  
  <div class="admin-link">
    <a href="/admin/login">Admin Login</a>
  </div>
  <div class = "menu-head">
    <img src="../../uploads/logo.png" id="logo" alt="logo">
  </div>
  <h2 id="logoText">365 menu</h2>
  <section class = "menu">
    <div class = "menu-container">
      
      <div class = "menu-btns">
        <form action="/product/breakfast" method="GET">
          <button type = "submit" class = "menu-btn active-btn" id = "featured">Breakfast</button>
        </form>
        <form action="/product/dinner" method="GET">
          <button type = "submit" class = "menu-btn" id = "today-special">Dinner</button>
        </form>
        <form action="/product/lunch" method="GET">
          <button type = "submit" class = "menu-btn" id = "new-arrival">Lunch</button>
        </form>
      </div>
  <div class = "food-items">
        <!-- item -->
        <% for(let products of prods) { %>
        <div class = "food-item featured">
          <div class = "food-img">
            <img src = "../../uploads/<%= products.photo %>" alt = "food image">
          </div>
          <div class = "food-content">
            <h2 class = "food-name"><%= products.name %></h2>
            <div class = "line"></div>
            <h3 class = "food-price"><%= products.price %>LE</h3>
            <ul class = "rating">
              <li><i class = "fas fa-star"></i></li>
              <li><i class = "fas fa-star"></i></li>
              <li><i class = "fas fa-star"></i></li>
              <li><i class = "fas fa-star"></i></li>
              <li><i class = "far fa-star"></i></li>
            </ul>
            <p class = "category">Categories: <span><%= products.kind %></span></p>
          </div>
        </div>
        <%}%>
        <!-- end of item -->
      </div>

      <a href="https://wa.me/+201066875256" target="_blank" class="whatsapp-icon">
        <img src="../../uploads/whatsapp.png" alt="WhatsApp Icon">
    </a>

    <footer>
      <p>&copy; 2023 365 marketing agency. All rights reserved.</p>
  </footer>
</body>
</html>